#title{
    background-color: #6096B4;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
    padding-bottom: 3%;
}
#nav{
    background-color: #6096B4;
    width: 100%;
}
#titulo{
    color: white;
    font-size: 2.5rem;  
}
#menu{
    display: flex;
    flex-direction: wrap;
    font-size: 2.5rem;  
}
.row {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;

}
#Eslogan{
    color: white;
    font-size: 1.5rem; 
    text-align: center;

}
#Eslogan h1{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
#Eslogan h3{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
#logo{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 250px;
    height: 250px;   
}

#features{
    background-color: #93BFCF;
    font-family: 'EB Garamond', serif;
}
#features p{
padding-bottom: 2%;
}

#Novedades{ 
    background-color: #BDCDD6;
    font-family: 'EB Garamond', serif;
    padding-top: 4%;
    padding-bottom: 4%;
}
#Novedades h1 {
    size: 2.5rem;
    margin-left: 20px;

}
#carrusel{
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
    transition: 10s;
}
#carrusel h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}
#carrusel h6 {
    padding-top: 2%;
    padding-bottom: 2%;
}
#carrusel img{
    width: 250px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#Libros{
    background-color: #EEE9DA;
    padding-top: 4%;
    padding-bottom: 4%;
}
#Libros h1{
    font-family: 'EB Garamond', serif;
    margin-left: 20px;
}
#Ficción{
    padding-top: 4%;
    padding-bottom: 4%;
}

.card{
    
    height: 600px;
    border: 1px solid black;
    
}
.card-title{
    font-family: 'EB Garamond', serif;
    padding-top: 2%;
    padding-bottom: 2%;
}
.card-text{
    font-family: 'EB Garamond', serif;
    padding-top: 1%;
    padding-bottom: 1%;
}
.card-subtitle{
    font-family: 'EB Garamond', serif;
    padding-top: 1%;
    padding-bottom: 1%;

}
.card-img-top{
    text-align: center;
    height: 350px;
    width: 250px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 2%;
    margin-left: 15%; 
}
