#title{
    background-color: #6096B4;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    
    padding-bottom: 3%;
}
#nav{
    background-color: #6096B4;
    width: 100%;
}
#titulo{
    color: white;
    font-size: 2.5rem;  
}
#menu{
    display: flex;
    flex-direction: wrap;
    font-size: 2.5rem;  
}
.row {
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 3%;
    padding-top: 3%;

}
#Eslogan{
    color: white;
    font-size: 1.5rem; 
    text-align: center;

}
#Eslogan h1{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
#Eslogan h3{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}
#logo{
    padding-top: 2%;
    padding-bottom: 2%;
    width: 250px;
    height: 250px;   
}

#features{
    background-color: #EEE9DA;
    font-family: 'EB Garamond', serif;
}
#features p{
padding-bottom: 2%;
}

#Novedades{ 
    background-color:#BDCDD6 ;
    font-family: 'EB Garamond', serif;
    padding-top: 4%;
    padding-bottom: 4%;
}
#Novedades h1 {
    size: 2.5rem;

}
#carrusel{
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
}
#carrusel h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}
#carrusel h6 {
    padding-top: 2%;
    padding-bottom: 2%;
}
#carrusel img{
    width: 250px;
    height: 350px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#Ficción img{
    width: 150px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
